.home2 {
    display: flex;
    width: 100%;
    text-align: center;
    .home2Container {
      flex: 6;
        .top {
            padding: 10px;
            margin: 20px;
            display: flex;
        }
        .midle{
            color: rgb(0, 131, 143);
            padding: 10px;
            margin: 20px;
            display: flex;
        }
        .last{
            color: rgb(0, 0, 0);
            padding: 10px;
            margin: 20px;
            display: flex;
        }
    }
}