.Sidebar{
    background-color: rgb(255, 0, 0);
    flex: 1;
    .topS{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        font-size: 20px;
        font-weight: bold;
        color: black;
        
    }
}